$desktop: 80rem;
$tablet: 49.125rem;
$dark-primary-color: #323232;
$secondary-text-color: #AFAFAF;
$dark-bg-text-color: #FFFFFF;
$cta-hover-color: #000000;
$divider-color: #e1e1e1;
$alternative-bg-light-color: #FAFAFA;