@use './partials/global' as *;
@use './partials/_variables' as *;
@use './partials/_mixins' as *;

.header {
    background-color: $dark-primary-color;
    &__nav {
        @include tablet {
            @include flex-center(row, flex-start, flex-end);
        }
    }
    &__title {
        color: $dark-bg-text-color;
        text-transform: uppercase;
        text-align: center;
        font-weight: 400;
        padding: 1.5rem 0 1rem 0;
        @include tablet {
            padding: 1rem 4rem 1rem 2rem;
            font-size: 1.5rem;
        }
    }
    
    &__list {
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        width: 100%;
        @include tablet {
            justify-content: space-between;
            width: 20%;
        }
    }

    &__item {
        text-align: center;
        width: 50%;
        padding: 0 0 1rem 0;
        @include tablet {
            width: 0%;
        }
        
        &--underline {
            border-bottom: 0.3125rem solid $dark-bg-text-color;
        }
    }
    
    &__link {
        color: $dark-bg-text-color;
        text-decoration: none;
        @include tablet {
            padding: 0 0 1rem 0;
            
        }
        
        &--highlight {
            font-weight: 700;
            @include tablet {
                border-bottom: 0.3125rem solid $dark-bg-text-color;
            }
        }
    }
}

.hero {
    background-image: url(../assets/images/hero-bio.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 35vh;
    display: flex;
    align-items: center;
    position: relative;
    @include tablet {
        height: 60vh;
    }

    &__title {
        text-transform: capitalize;
        padding-left: 1rem;
        color: $dark-bg-text-color;
        z-index: 2;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $dark-primary-color;
        opacity: 50%;
        z-index: 1;
    }
}

.about {
    padding: 0 1rem 1rem 1rem;
    @include tablet {
        padding: 1rem 5rem 0 5rem;
    }

    &__title {
        padding: 1.5rem 1rem 1rem 1rem;
        @include tablet {
            padding: 2.25rem 0 0 2rem;
        }
    }

    &__image {
        width: 100%;
        height: 28vh;
        @include tablet {
            height: 56vh;
            padding: 0 0 2rem 0;
        }
    }

    // &__quote {}
    &__quote-text {
        padding: 0 0 1rem 0;
        @include tablet {
            font-weight: 700;
        }
    }

    &__quote-author {
        @include tablet {
            font-size: 1.125rem;
            font-weight: 700
        }
    }

    &__text {
        padding: 1rem 0;
    }

    &__description {
        @include tablet {
            display: flex;
            justify-content: space-between;
        }
    }

    &__subtitle {
        padding: 2.5rem 0 0 0;
    }

    &__history {
        padding: 1.5rem 0;
        @include tablet {
            width: 48%;
        }
    }
}

.gallery {
    background-color: $alternative-bg-light-color;
    padding: 1.5rem 1rem 0.5rem 1rem;
    @include tablet {
        padding: 2.5rem;
    }
// &__title {}
    &__showcase {
        @include tablet {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }
    
    &__image {
        width: 100%;
        margin: 0.5rem 0;
        @include tablet {
            flex: 0 0 27%;
            height: 18vh;
        }
    }
}


.footer {
    color: $dark-bg-text-color;
    background-color: $dark-primary-color;
    padding: 0 1rem;
    position: relative;
    @include tablet {
        padding: 2rem;
    }
    
    &__title-box {
        @include tablet {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__title {
        padding: 1.5rem 0 1rem 0;
        @include tablet {
            padding: 0;
        }
    }

    &__socials {
        width: 20%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    // &__link {}

    &__logo {
        display: none;
        @include tablet {
            display: block;
            font-size: 1.5rem;
            font-weight: 400;
        }
    }
    
    &__icon {
        @include tablet {
            width: 2.1875rem;
            height: 2.1875rem;
        }
    }

    &__information {
        @include tablet {
            display: flex;
            justify-content: space-between;
        }
    }

    // &__card {}
    
    &__subtitle {
        padding: 1.5rem 0 0 0;
        @include tablet {
            font-size: 1rem;
            font-weight: 700;
        }
    }
    
    &__text {
        padding: 1rem 0 0 0;
    }
    
    &__copyright {
        padding: 1.5rem 0;
    }
    
    &__name {
        padding: 1rem 0 0 0;
        font-size: 1.5rem;
        font-weight: 400;
        @include tablet {
            display: none;
        }
    }
}