@use './partials/typography' as *;
@use './partials/variables' as *;
@use './partials/mixins' as *;
@use './partials/global' as *;

.header {
    background-color: $bandsite-black;
    
    &__nav {
        
        @include tablet {
            @include flex-center(row, flex-start);
        }

        @include desktop {
            padding: 0 8rem;
        }
    }
    
    &__title {
        @include bandsite-logo;
        text-align: center;
        @include responsive-padding(1rem 0 0 0, 1rem 2rem, 1rem 2rem);
    }

    &__logo {
        color: inherit;
    }

    &__list {
        list-style-type: none;
        @include flex-center(row, space-around);
    }

    &__item {
        @include responsive-padding(0 0 1rem 0, 0, 0);
        width: 50%;
        text-align: center;
        
        @include tablet {
            width: 100%;
            margin: 0 2rem;

        }

        &--highlight {
            border-bottom: 0.25rem solid $light-text;
            font-weight: 700;
            
            @include tablet {
                border-bottom: none;
            }
        }
    }

    &__link {
        color: $light-text;
        
        @include tablet {
            padding: 0 0 1.5rem 0;
        }

        &:hover {
            font-weight: 700;
        }

        &--highlight {
            
            @include tablet {
            border-bottom: 0.25rem solid $light-text;
            }
        }
    }
}

.hero {
    background-image: url(../assets/images/hero-bio.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 35vh;
    @include flex-center($justify: none);
    position: relative;
    
    @include tablet {
        height: 60vh;
    }

    @include desktop {
        height: 90vh;
    }

    
    &__title {
        text-transform: capitalize;
        @include responsive-padding(0 0 0 1rem, 0 0 0 2rem, 0 10rem);
        color: $light-text;
        z-index: 2;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $bandsite-black;
        opacity: 0.5;
        z-index: 1;
    }
}

.about {
    @include responsive-padding(0 1rem 1rem 1rem, 1rem 5rem 0 5rem, 1rem 15rem);

    &__title {
        @include responsive-padding(1.5rem 1rem 1rem 1rem, 2.25rem 0 0 2rem, 2.25rem 10rem);
    }

    &__image {
        width: 100%;
        height: auto;

        @include tablet {
            padding: 0 0 2rem 0;
        }
    }

    &__quote-text {
        padding: 0 0 1rem 0;

        @include tablet {
            font-weight: 700;
        }
    }

    &__quote-author {

        @include tablet {
            font-size: 1.125rem;
            font-weight: 700
        }
    }

    &__text {
        padding: 1rem 0;
    }

    &__description {

        @include tablet {
            display: flex;
            justify-content: space-between;
        }
    }

    &__subtitle {
        padding: 2.5rem 0 0 0;
    }

    &__history {
        padding: 1.5rem 0;
        
        @include tablet {
            width: 48%;
        }
    }
}

.gallery {
    background-color: $alabaster;
    @include responsive-padding(1.5rem 1rem 0.5rem 1rem, 2.5rem, 2.5rem 10rem );

    &__showcase {
    
        @include tablet {
            @include flex-center($justify:space-between);
            flex-wrap: wrap;
        }
    }
    
    &__image {
        width: 100%;
        margin: 0.5rem 0;
        filter: grayscale(100%);
    
        @include tablet {
            flex: 0 0 32%;
            width: 18vw;    
        }
       
        @include desktop {
            flex: 0 0 32%;
            width: 24vw;
        }

        &:hover {
            filter: grayscale(0%);
        }
    }
}

.comment {
    @include responsive-padding(1rem, 1rem 5rem 0 5rem, 1rem 22rem);


    &__title {
        @include responsive-padding(1rem, 2rem 2rem 0 2rem, 2.25rem 10rem);
    }

    &__form-field {
        @include flex-center(row,space-between,flex-start);
        border-bottom: 0.125rem solid $mercury;
        padding: 0 0 1rem 0;
    }

    &__profile-picture {
        width: 2.25rem;
        height: 2.25rem;
        border-radius: 50%;
        background-color: $mercury;
        margin-right: 1rem;

        @include tablet {
            width: 3rem;
            height: 3rem;
            margin: 1rem;
        }

        &--user {
            background-image: url(../assets/images/Mohan-muruge.jpg);
            background-position: center;
            background-size: cover;
        }
        
    }

    &__form {
        width: 90%;
        display: relative;
    }

    &__label {
        color: $silver;
        text-transform: uppercase;
        font-weight: 700;
    }

    &__input {
        min-height: 2.25rem;
        width: 100%;
        border: 0.0625rem solid $mercury;
        background-color: $alabaster;
        border-radius: 0.25rem;
        margin-bottom: 1rem;
        font-family: inherit;
        @include responsive-padding(0.75rem, 1rem, 1rem);

        &::placeholder {
            font-family: inherit;
            color: $bandsite-black;
        }

        &:hover {
            outline-color: $bandsite-darkblack;
        }
    }

    &__textarea {
        width: 100%;
        height: 15vh;
        border: 0.0625rem solid $mercury;
        background-color: $alabaster;
        margin-bottom: 1rem;
        border-radius: 0.25rem;
        font-family: inherit;
        @include responsive-padding(0.75rem, 1rem, 1rem);

        &::placeholder {
            font-family: inherit;
            color: $bandsite-black;
            font-weight: 500;
        }
        
        &:hover {
            outline-color: $bandsite-darkblack;
        }
    }

    &__button {
        display: inline-block;
        color: $light-text;
        background-color: $bandsite-black;
        width: 100%;
        margin: 1rem 0 0 0;
        padding: 1rem;
        border-radius: 0.25rem;
        text-align: center;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 700;
        border: none;

        @include tablet {
            width: 30%;
            position: relative;
            left: 70%;
        }

        &:hover {
            background-color: $bandsite-darkblack;
        }
    }

    &__card {
        @include flex-center(row, space-between, flex-start);
        @include responsive-padding(1rem, 1rem, 1rem 0);
        border-bottom: 0.125rem solid $mercury;
    }

    &__content {
        width: 90%;

    }

    &__header {
        list-style-type: none;
        @include flex-center($justify: space-between);
    }

    &__name {
        font-weight: 700;
    }

    &__date {
        color: $silver;
    }

    &__text {
        padding: 1rem 0 0 0;
    }

    &__functions {
        @include flex-center($justify: space-between);
        padding: 1rem 0 0 0;
    }

    // &__icon {
        
    // }
    
    // &__path {
    
    // }

    &__delete {
        color: $silver;
    }
}

.footer {
    color: $light-text;
    background-color: $bandsite-black;
    @include responsive-padding(1rem, 2rem, 2rem 10rem);
    
    &__title-box {
    
        @include tablet {
            @include flex-center($justify: space-between);
            position: relative;
        }
    }

    &__title {
        @include responsive-padding(1.5rem 0 1rem 0, 0, 0);
    }

    &__socials {
        width: 30%;
        @include flex-center($justify: space-between);
    
        @include tablet {
            width: 20%;
            position: absolute;
            left: 38%;
        }

        @include desktop {
            width: 15%;
            left: 28%;
        }
    }

    &__logo {
        display: none;

        @include tablet {
            display: block;
            font-size: 1.5rem;
            font-weight: 400;
        }
    }
    
    &__icon {

        @include tablet {
            width: 1.5rem;
            height: 1.5rem;
        }
    }


    &__information {

        @include tablet {
            @include flex-center($justify:space-between);
        }

        @include desktop {
            justify-content: flex-start;
        }
    }

    &__card {

        @include desktop {
            width: 28%
        }
    }
    
    &__subtitle {
        padding: 1.5rem 0 0 0;

        @include tablet {
            font-size: 1rem;
            font-weight: 700;
        }
    }
    
    &__text {
        padding: 1rem 0 0 0;
        width: 39%;

        @include tablet {
            width: 65%;
        }
    }
    
    &__copyright {
        padding: 1.5rem 0;
    }
    
    &__name {
        padding: 1rem 0 0 0;
        @include bandsite-logo;

        @include tablet {
            display: none;
        }
    }
}