@font-face {
  font-family: "NunitoSans";
  src: url(../../assets/fonts/woff2/NunitoSans-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "NunitoSans";
  src: url(../../assets/fonts/woff2/NunitoSans-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "NunitoSans";
  src: url(../../assets/fonts/woff2/NunitoSans-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "NunitoSans";
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
}
@media (min-width: 867px) {
  h1 {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
}
@media (min-width: 867px) {
  h2 {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}

h3 {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.375rem;
}
@media (min-width: 867px) {
  h3 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2rem;
  }
}

p {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
}
@media (min-width: 867px) {
  p {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.375rem;
  }
}

footer p {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
}
@media (min-width: 867px) {
  footer p {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  background-color: #323232;
}
@media (min-width: 867px) {
  .header__nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}
@media (min-width: 1280px) {
  .header__nav {
    padding: 0 8rem;
  }
}
.header__title {
  color: #FFFFFF;
  font-size: 1.5rem;
  font-weight: 400;
  background-color: #323232;
  text-align: center;
  padding: 1rem 0 0 0;
}
@media (min-width: 867px) {
  .header__title {
    padding: 1rem 2rem;
  }
}
@media (min-width: 1280px) {
  .header__title {
    padding: 1rem 2rem;
  }
}
.header__logo {
  color: inherit;
}
.header__list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.header__item {
  padding: 0 0 1rem 0;
  width: 50%;
  text-align: center;
}
@media (min-width: 867px) {
  .header__item {
    padding: 0;
  }
}
@media (min-width: 1280px) {
  .header__item {
    padding: 0;
  }
}
@media (min-width: 867px) {
  .header__item {
    width: 100%;
    margin: 0 2rem;
  }
}
.header__item--highlight {
  border-bottom: 0.25rem solid #FFFFFF;
  font-weight: 700;
}
@media (min-width: 867px) {
  .header__item--highlight {
    border-bottom: none;
  }
}
.header__link {
  color: #FFFFFF;
}
@media (min-width: 867px) {
  .header__link {
    padding: 0 0 1.5rem 0;
  }
}
.header__link:hover {
  font-weight: 700;
}
@media (min-width: 867px) {
  .header__link--highlight {
    border-bottom: 0.25rem solid #FFFFFF;
  }
}

.hero {
  background-image: url(../assets/images/hero-bio.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 35vh;
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: center;
  position: relative;
}
@media (min-width: 867px) {
  .hero {
    height: 60vh;
  }
}
@media (min-width: 1280px) {
  .hero {
    height: 90vh;
  }
}
.hero__title {
  text-transform: capitalize;
  padding: 0 0 0 1rem;
  color: #FFFFFF;
  z-index: 2;
}
@media (min-width: 867px) {
  .hero__title {
    padding: 0 0 0 2rem;
  }
}
@media (min-width: 1280px) {
  .hero__title {
    padding: 0 10rem;
  }
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #323232;
  opacity: 0.5;
  z-index: 1;
}

.about {
  padding: 0 1rem 1rem 1rem;
}
@media (min-width: 867px) {
  .about {
    padding: 1rem 5rem 0 5rem;
  }
}
@media (min-width: 1280px) {
  .about {
    padding: 1rem 15rem;
  }
}
.about__title {
  padding: 1.5rem 1rem 1rem 1rem;
}
@media (min-width: 867px) {
  .about__title {
    padding: 2.25rem 0 0 2rem;
  }
}
@media (min-width: 1280px) {
  .about__title {
    padding: 2.25rem 10rem;
  }
}
.about__image {
  width: 100%;
  height: 28vh;
}
@media (min-width: 867px) {
  .about__image {
    height: auto;
    padding: 0 0 2rem 0;
  }
}
.about__quote-text {
  padding: 0 0 1rem 0;
}
@media (min-width: 867px) {
  .about__quote-text {
    font-weight: 700;
  }
}
@media (min-width: 867px) {
  .about__quote-author {
    font-size: 1.125rem;
    font-weight: 700;
  }
}
.about__text {
  padding: 1rem 0;
}
@media (min-width: 867px) {
  .about__description {
    display: flex;
    justify-content: space-between;
  }
}
.about__subtitle {
  padding: 2.5rem 0 0 0;
}
.about__history {
  padding: 1.5rem 0;
}
@media (min-width: 867px) {
  .about__history {
    width: 48%;
  }
}

.gallery {
  background-color: #FAFAFA;
  padding: 1.5rem 1rem 0.5rem 1rem;
}
@media (min-width: 867px) {
  .gallery {
    padding: 2.5rem;
  }
}
@media (min-width: 1280px) {
  .gallery {
    padding: 2.5rem 10rem;
  }
}
@media (min-width: 867px) {
  .gallery__showcase {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}
.gallery__image {
  width: 100%;
  margin: 0.5rem 0;
  filter: grayscale(100%);
}
@media (min-width: 867px) {
  .gallery__image {
    flex: 0 0 32%;
    width: 18vw;
  }
}
@media (min-width: 1280px) {
  .gallery__image {
    flex: 0 0 32%;
    width: 24vw;
  }
}
.gallery__image:hover {
  filter: grayscale(0%);
}

.comment {
  padding: 1rem;
}
@media (min-width: 867px) {
  .comment {
    padding: 2rem 10rem;
  }
}
@media (min-width: 1280px) {
  .comment {
    padding: 1rem 15rem;
  }
}
.comment__title {
  padding: 1rem;
}
@media (min-width: 867px) {
  .comment__title {
    padding: 2rem 2rem 0 2rem;
  }
}
@media (min-width: 1280px) {
  .comment__title {
    padding: 2.25rem 10rem;
  }
}
.comment__form-field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 2px solid #e1e1e1;
  padding: 0 0 1rem 0;
}
.comment__profile-picture {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #e1e1e1;
}
@media (min-width: 867px) {
  .comment__profile-picture {
    width: 48px;
    height: 48px;
    margin: 0 1rem;
  }
}
.comment__profile-picture--user {
  background-image: url(../assets/images/Mohan-muruge.jpg);
  background-position: center;
  background-size: cover;
}
.comment__form {
  width: 80%;
  display: relative;
}
.comment__label {
  color: #AFAFAF;
  text-transform: uppercase;
  font-weight: 700;
}
.comment__input {
  min-height: 36px;
  width: 100%;
  border: 1px solid #e1e1e1;
  background-color: #FAFAFA;
  border-radius: 4px;
  margin-bottom: 1rem;
}
.comment__input::-moz-placeholder {
  font-family: "NunitoSans";
  color: #323232;
  padding: 0 1rem;
}
.comment__input::placeholder {
  font-family: "NunitoSans";
  color: #323232;
  padding: 0 1rem;
}
.comment__textarea {
  width: 100%;
  height: 15vh;
  border: 1px solid #e1e1e1;
  background-color: #FAFAFA;
  margin-bottom: 1rem;
  border-radius: 4px;
}
.comment__textarea::-moz-placeholder {
  font-family: "NunitoSans";
  color: #323232;
  font-weight: 500;
  padding: 0.5rem 1rem;
}
.comment__textarea::placeholder {
  font-family: "NunitoSans";
  color: #323232;
  font-weight: 500;
  padding: 0.5rem 1rem;
}
.comment__button {
  display: inline-block;
  color: #FFFFFF;
  background-color: #323232;
  width: 100%;
  margin: 1rem 0 0 0;
  padding: 1rem;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  border: none;
}
@media (min-width: 867px) {
  .comment__button {
    width: 30%;
    position: relative;
    left: 70%;
  }
}
.comment__card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;
  border-bottom: 2px solid #e1e1e1;
}
@media (min-width: 867px) {
  .comment__card {
    padding: 1rem;
  }
}
@media (min-width: 1280px) {
  .comment__card {
    padding: 1rem;
  }
}
.comment__content {
  width: 80%;
}
.comment__header {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.comment__name {
  font-weight: 700;
}
.comment__date {
  color: #AFAFAF;
}
.comment__text {
  padding: 1rem 0 0 0;
}

.footer {
  color: #FFFFFF;
  background-color: #323232;
  padding: 1rem;
}
@media (min-width: 867px) {
  .footer {
    padding: 2rem;
  }
}
@media (min-width: 1280px) {
  .footer {
    padding: 2rem 10rem;
  }
}
@media (min-width: 867px) {
  .footer__title-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
}
.footer__title {
  padding: 1.5rem 0 1rem 0;
}
@media (min-width: 867px) {
  .footer__title {
    padding: 0;
  }
}
@media (min-width: 1280px) {
  .footer__title {
    padding: 0;
  }
}
.footer__socials {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 867px) {
  .footer__socials {
    width: 20%;
    position: absolute;
    left: 38%;
  }
}
@media (min-width: 1280px) {
  .footer__socials {
    width: 15%;
    left: 28%;
  }
}
.footer__logo {
  display: none;
}
@media (min-width: 867px) {
  .footer__logo {
    display: block;
    font-size: 1.5rem;
    font-weight: 400;
  }
}
@media (min-width: 867px) {
  .footer__icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}
@media (min-width: 867px) {
  .footer__information {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 1280px) {
  .footer__information {
    justify-content: flex-start;
  }
}
@media (min-width: 1280px) {
  .footer__card {
    width: 28%;
  }
}
.footer__subtitle {
  padding: 1.5rem 0 0 0;
}
@media (min-width: 867px) {
  .footer__subtitle {
    font-size: 1rem;
    font-weight: 700;
  }
}
.footer__text {
  padding: 1rem 0 0 0;
  width: 39%;
}
@media (min-width: 867px) {
  .footer__text {
    width: 65%;
  }
}
.footer__copyright {
  padding: 1.5rem 0;
}
.footer__name {
  padding: 1rem 0 0 0;
  color: #FFFFFF;
  font-size: 1.5rem;
  font-weight: 400;
  background-color: #323232;
}
@media (min-width: 867px) {
  .footer__name {
    display: none;
  }
}/*# sourceMappingURL=bio.css.map */