@font-face {
  font-family: "NunitoSans";
  src: url(../../assets/fonts/woff2/NunitoSans-Regular.woff2) format(woff2);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "NunitoSans";
  src: url(../../assets/fonts/woff2/NunitoSans-Medium.woff2) format(woff2);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "NunitoSans";
  src: url(../../assets/fonts/woff2/NunitoSans-Bold.woff2) format(woff2);
  font-weight: 700;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "NunitoSans";
}

h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}
@media (min-width: 786px) {
  h1 {
    font-size: 60px;
    line-height: 68px;
  }
}

h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}
@media (min-width: 786px) {
  h2 {
    font-size: 36px;
    line-height: 44px;
  }
}

h3 {
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
}
@media (min-width: 786px) {
  h3 {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
  }
}

p {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}
@media (min-width: 786px) {
  p {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
  }
}

footer p {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}
@media (min-width: 786px) {
  footer p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
}

.header {
  background-color: #323232;
}
@media (min-width: 786px) {
  .header__nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
  }
}
.header__title {
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  padding: 24px 0 16px 0;
}
@media (min-width: 786px) {
  .header__title {
    padding: 16px 64px 16px 32px;
    font-size: 24px;
  }
}
.header__list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
@media (min-width: 786px) {
  .header__list {
    justify-content: space-evenly;
    width: 40%;
  }
}
.header__item {
  text-align: center;
  width: 50%;
  padding: 0 0 16px 0;
}
@media (min-width: 786px) {
  .header__item {
    padding: 0 0 16px 0;
    width: 0%;
  }
}
.header__item--underline {
  border-bottom: 5px solid #FFFFFF;
}
.header__link {
  color: #FFFFFF;
  text-decoration: none;
}
.header__link--highlight {
  font-weight: 700;
}

.hero {
  background-image: url(../assets/images/hero-bio.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 35vh;
  display: flex;
  align-items: center;
  position: relative;
}
@media (min-width: 786px) {
  .hero {
    height: 60vh;
  }
}
.hero__title {
  text-transform: capitalize;
  padding-left: 16px;
  color: #FFFFFF;
  z-index: 2;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #323232;
  opacity: 50%;
  z-index: 1;
}

.about {
  padding: 0 16px 16px 16px;
}
@media (min-width: 786px) {
  .about {
    padding: 16px 80px 0 80px;
  }
}
.about__title {
  padding: 24px 16px 16px 16px;
}
@media (min-width: 786px) {
  .about__title {
    padding: 36px 0 0 32px;
  }
}
.about__image {
  width: 100%;
  height: 28vh;
}
@media (min-width: 786px) {
  .about__image {
    height: 56vh;
    padding: 0 0 32px 0;
  }
}
.about__quote-text {
  padding: 0 0 16px 0;
}
@media (min-width: 786px) {
  .about__quote-text {
    font-weight: 700;
  }
}
@media (min-width: 786px) {
  .about__quote-author {
    font-size: 18px;
    font-weight: 700;
  }
}
.about__text {
  padding: 16px 0;
}
@media (min-width: 786px) {
  .about__description {
    display: flex;
    justify-content: space-between;
  }
}
.about__subtitle {
  padding: 40px 0 0 0;
}
.about__history {
  padding: 24px 0;
}
@media (min-width: 786px) {
  .about__history {
    width: 48%;
  }
}

.gallery {
  background-color: #FAFAFA;
  padding: 24px 16px 8px 16px;
}
@media (min-width: 786px) {
  .gallery {
    padding: 40px;
  }
}
@media (min-width: 786px) {
  .gallery__showcase {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.gallery__image {
  width: 100%;
  margin: 8px 0;
}
@media (min-width: 786px) {
  .gallery__image {
    flex: 0 0 27%;
    height: 18vh;
  }
}

.footer {
  color: #FFFFFF;
  background-color: #323232;
  padding: 0 16px;
  position: relative;
}
@media (min-width: 786px) {
  .footer {
    padding: 32px;
  }
}
@media (min-width: 786px) {
  .footer__title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.footer__title {
  padding: 24px 0 16px 0;
}
@media (min-width: 786px) {
  .footer__title {
    padding: 0;
  }
}
.footer__socials {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__logo {
  display: none;
}
@media (min-width: 786px) {
  .footer__logo {
    display: block;
    font-size: 24px;
    font-weight: 400;
  }
}
@media (min-width: 786px) {
  .footer__icon {
    width: 35px;
    height: 35px;
  }
}
@media (min-width: 786px) {
  .footer__information {
    display: flex;
    justify-content: space-between;
  }
}
.footer__subtitle {
  padding: 24px 0 0 0;
}
@media (min-width: 786px) {
  .footer__subtitle {
    font-size: 16px;
    font-weight: 700;
  }
}
.footer__text {
  padding: 16px 0 0 0;
}
.footer__copyright {
  padding: 24px 0;
}
.footer__name {
  padding: 16px 0 0 0;
  font-size: 24px;
  font-weight: 400;
}
@media (min-width: 786px) {
  .footer__name {
    display: none;
  }
}/*# sourceMappingURL=bio.css.map */